<dialog
  id="post-input"
  class="dim-background w-full max-w-xl rounded-lg border border-white border-opacity-10 bg-stone-950 p-6 text-white"
  popover
>
  <form action="" class="flex flex-col gap-5" id="post-input-form">
    <input
      type="hidden"
      name="id"
      id="post-input-post-id"
      class="bg-black text-white"
    />
    <label for="title">Title</label>
    <input
      id="post-input-title"
      type="text"
      name="title"
      class="rounded-md border border-stone-700 bg-black p-2 text-2xl font-bold text-white ring-2 ring-transparent transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-800"
    />
    <label for="body">Body</label>
    <textarea
      name="body"
      cols="30"
      rows="10"
      class="block w-full rounded-md border border-stone-700 bg-black p-2 text-xl leading-none outline-none ring-2 ring-transparent transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-800"
      id="post-input-textarea"
    ></textarea>
    <label for="media">Media</label>
    <input
      id="post-input-media"
      type="url"
      name="media"
      id=""
      class="rounded-md border border-stone-700 bg-black p-2 text-2xl font-bold text-white ring-2 ring-transparent transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-800"
    />
    <div class="flex gap-5">
      <button
        id="post-input-submit"
        type="submit"
        popovertargetaction="hide"
        popovertarget="post-input"
        class="btn"
      >
        Post
      </button>
      <button
        type="button"
        popovertargetaction="hide"
        popovertarget="post-input"
        data-slot="cancelPostBtn"
        class="btn ease border-primary-700 bg-primary-700 text-primary-50 hover:bg-primary-500"
      >
        Cancel
      </button>
    </div>
  </form>
</dialog>
