<header class="sticky top-0 z-50 w-full bg-primary-900 px-8 py-4 text-lg">
  <nav>
    <ul
      class="flex items-center justify-end gap-5 font-semibold text-gray-300 transition-colors"
    >
      <li>
        <a class="hover:text-white" href="/search/"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></a>
      </li>
      <li>
        <a class="hover:text-white" class="" href="/">Feed</a>
      </li>
      <li>
        <a data-slot="profileLink" class="hover:text-white" href="/user/">
          Profile
        </a>
      </li>
      <li class="relative">
        <button
          data-slot="accountMenuBtn"
          class="flex items-center justify-center"
        >
          <img class="h-6" src="/icons/account-icon.svg" alt="" />
        </button>
        <div data-slot="accountMenuDropdown"></div>
      </li>
    </ul>
  </nav>
</header>
