<div
  id="post-reactions"
  class="dim-background rounded-lg border border-stone-500 bg-stone-950 p-4 text-white"
  popover
>
  <div class="flex flex-col gap-4 text-2xl">
    <h3 class="font-bold">Reactions</h3>
    <div class="flex flex-col gap-1" data-slot="reactionList">
      <div class="flex w-full justify-between border-b border-stone-600"></div>
    </div>
    <button
      type="button"
      popovertargetaction="hide"
      popovertarget="post-reactions"
      class="btn"
    >
      Close
    </button>
  </div>
  <div class="flex gap-5"></div>
</div>
