<div class="animate-fade rounded-2xl border border-white border-opacity-10 p-8">
  <div data-slot="postHeader"></div>
  <div class="pb-6 pt-6">
    <a href="#" data-slot="postTitleLink" class="hover:underline">
      <h3 class="pb-2 text-2xl font-bold" data-slot="postTitle"></h3>
    </a>
    <p data-slot="postBody"></p>
    <div data-slot="postMedia" class="flex justify-center"></div>
  </div>
  <hr class="pb-2 opacity-10" />
  <div data-slot="postButtons"></div>

  <div data-slot="comment-section">
    <div data-slot="postCommentList" class="transition-height"></div>
    <div data-slot="inputComment"></div>
  </div>
</div>
