<div class="flex justify-between pt-4">
  <div
    class="rounded-md bg-gradient-to-r from-stone-400 via-stone-600 to-stone-400 bg-200% bg-left p-[2px] opacity-60 transition-all duration-700 hover:opacity-100 [&:has(#view-comments-btn:hover)]:bg-right"
  >
    <div class="flex items-center overflow-hidden rounded-md bg-stone-950">
      <button
        id="add-comment-btn"
        data-slot="addCommentBtn"
        class="h-full w-8 rounded-l-sm px-2 transition-colors duration-500 hover:bg-primary-900"
      >
        <i class="fa-regular fa-message"></i>
      </button>
      <div>
        <svg
          width="1"
          height="24"
          class="stroke-stone-600"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line x1="0.5" y1="0" x2="0.5" y2="24" stroke-width="1" />
        </svg>
      </div>
      <button
        id="view-comments-btn"
        data-slot="viewCommentsBtn"
        class="h-full w-8 rounded-l-sm px-2 transition-colors duration-500 hover:bg-primary-900"
        data-state="closed"
      >
        17
      </button>
    </div>
  </div>

  <div
    class="rounded-md bg-gradient-to-l from-stone-400 via-stone-600 to-stone-400 bg-200% bg-right p-[2px] opacity-60 transition-all duration-700 hover:opacity-100 [&:has(#view-reactions-btn:hover)]:bg-left"
  >
    <div class="flex items-center overflow-hidden rounded-md bg-stone-950">
      <button
        class="h-full w-8 rounded-l-sm px-2 transition-colors duration-500 hover:bg-primary-900"
        id="view-reactions-btn"
        data-slot="viewReactionsBtn"
      >
        12
      </button>
      <div class="">
        <svg
          width="1"
          height="24"
          class="stroke-stone-600"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line x1="0.5" y1="0" x2="0.5" y2="24" stroke-width="1" />
        </svg>
      </div>
      <button
        class="h-full w-8 rounded-l-sm px-2 transition-colors duration-500 hover:bg-primary-900"
        id="add-reaction-btn"
      >
        <i class="fa-regular fa-plus"></i>
      </button>
    </div>
  </div>
</div>
