<div class="rounded-2xl border border-white border-opacity-30 p-8" id="post">
  <div data-slot="postHeader"></div>
  <div class="pb-6 pt-6">
    <p data-slot="postBody">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
      voluptates rem, libero rerum nostrum error molestias voluptas expedita
      sunt voluptatibus deserunt delectus animi fuga sequi consequuntur quam
      numquam dignissimos modi!
    </p>
    <div data-slot="postMedia" class="flex justify-center"></div>
  </div>
  <hr class="pb-2 opacity-20" />
  <div data-slot="postButtons"></div>

  <div data-slot="comment-section">
    <div data-slot="postCommentList" class="transition-height"></div>
    <div data-slot="inputComment"></div>
  </div>
</div>
