<form
  data-slot="inputCommentForm"
  aria-expanded="false"
  class="transition-height-inner transition-all aria-expanded:pt-4"
  method="post"
>
  <div class="relative">
    <textarea
      class="block w-full overflow-hidden rounded-md border border-stone-700 bg-black p-2 text-xl leading-none outline-none ring-2 ring-transparent transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-primary-800"
      type="text"
      name=""
      id="commentField"
      data-slot="commentField"
    ></textarea>
    <button
      class="absolute right-0 top-1/2 -translate-y-1/2 p-2 leading-none"
      id="submit-comment-btn"
      type="submit"
    >
      Send
    </button>
  </div>
</form>
